In [2]:
import pandas as pd
from utils_preprocessing import  merge_dataset

In [3]:
dataset=merge_dataset(path_otu="data/curatedMD_diseased_train/20221207_diseased_taxrelabund_train.csv", path_metadata="data/curatedMD_diseased_train/20221207_diseased_metadata_train_18_columns.csv", level=5)

In [4]:
dataset.head()

,sample_id,study_name,subject_id,body_site,antibiotics_current_use,study_condition,disease,age,age_category,country,...,f__Sutterellaceae,f__Synergistaceae,f__Tannerellaceae,f__Thermaceae,f__Tissierellia_unclassified,f__Veillonellaceae,f__Vibrionaceae,f__Victivallaceae,f__Xanthomonadaceae,f__Yersiniaceae
0,SID31004,FengQ_2015,SID31004,stool,missing,CRC,CRC;fatty_liver;hypertension,64,adult,AUT,...,0.0,0.00000,0.00000,0.0,0.0,0.13020,0.0,0.0,0.0,0.0
1,SID31030,FengQ_2015,SID31030,stool,missing,adenoma,adenoma;fatty_liver;hypertension,70,senior,AUT,...,0.0,0.00000,0.28971,0.0,0.0,0.18229,0.0,0.0,0.0,0.0
2,SID31159,FengQ_2015,SID31159,stool,missing,CRC,CRC,73,senior,AUT,...,0.0,0.00000,0.45937,0.0,0.0,1.14717,0.0,0.0,0.0,0.0
3,SID31223,FengQ_2015,SID31223,stool,missing,CRC,CRC,65,adult,AUT,...,0.0,0.05291,0.32816,0.0,0.0,0.00000,0.0,0.0,0.0,0.0
4,SID31237,FengQ_2015,SID31237,stool,missing,CRC,CRC;fatty_liver;hypertension,67,senior,AUT,...,0.0,0.00000,0.02137,0.0,0.0,0.00266,0.0,0.0,0.0,0.0

In [9]:
dataset['study_condition'].unique()

array(['CRC', 'adenoma', 'IBD', 'IGT', 'T2D', 'ACVD'], dtype=object)

In [5]:
#selecting IBD and CRC samples
ibd_class = dataset[dataset['study_condition'] == 'IBD']
crc_class = dataset[dataset['study_condition'] == 'CRC']
# Reduce the 'IBD' class to 555 samples
ibd_class_subset = ibd_class.sample(n=555, random_state=42) 
# Combine the subsets of both classes
final_dataset = pd.concat([ibd_class_subset, crc_class])
# Shuffle the final dataset to ensure randomness
final_dataset = final_dataset.sample(frac=1, random_state=42)

In [6]:
final_dataset.head()

,sample_id,study_name,subject_id,body_site,antibiotics_current_use,study_condition,disease,age,age_category,country,...,f__Sutterellaceae,f__Synergistaceae,f__Tannerellaceae,f__Thermaceae,f__Tissierellia_unclassified,f__Veillonellaceae,f__Vibrionaceae,f__Victivallaceae,f__Xanthomonadaceae,f__Yersiniaceae
1697,SAMD00114897,YachidaS_2019,sub_10670,stool,missing,CRC,CRC,69,senior,JPN,...,0.00000,0.0,0.38378,0.0,0.0,29.50806,0.0,0.0,0.0,0.0
1224,V1_UC26_4,NielsenHB_2014,V1_UC26,stool,missing,IBD,IBD,36,adult,ESP,...,0.00000,0.0,1.89772,0.0,0.0,0.91117,0.0,0.0,0.0,0.0
355,CSM7KOTC,HMP_2019_ibdmdb,C3023,stool,no,IBD,IBD,60,adult,USA,...,0.62574,0.0,0.00000,0.0,0.0,0.72030,0.0,0.0,0.0,0.0
1480,mix35_mix36-N712-S507_GTAGAGGA-AAGGAGTA,ThomasAM_2019_c,mix35_mix36-N712-S507_GTAGAGGA-AAGGAGTA,stool,missing,CRC,CRC,28,adult,JPN,...,0.00000,0.0,2.58337,0.0,0.0,0.28302,0.0,0.0,0.0,0.0
1507,MMRS42780924ST-27-0-0,VogtmannE_2016,MMRS42780924ST-27-0-0,stool,missing,CRC,CRC,65,adult,USA,...,0.01482,0.0,2.86593,0.0,0.0,0.00000,0.0,0.0,0.0,0.0

In [7]:
final_dataset.loc[:, 'class'] = final_dataset['study_condition']
final_dataset=final_dataset.iloc[:,18:]
final_dataset=final_dataset.reset_index(drop=True)

In [8]:
final_dataset['class'].value_counts()

class
CRC    555
IBD    555
Name: count, dtype: int64

In [ ]:
#saving the processed dataset
final_dataset.to_csv("data/microbiome_family_level.csv", index=False)

In [10]:
final_dataset

,f__Acidaminococcaceae,f__Actinomycetaceae,f__Aerococcaceae,f__Aeromonadaceae,f__Akkermansiaceae,f__Alcaligenaceae,f__Anaerolineaceae,f__Atopobiaceae,f__Bacillaceae,f__Bacillales_unclassified,...,f__Synergistaceae,f__Tannerellaceae,f__Thermaceae,f__Tissierellia_unclassified,f__Veillonellaceae,f__Vibrionaceae,f__Victivallaceae,f__Xanthomonadaceae,f__Yersiniaceae,class
0,1.24659,0.05205,0.0,0.0,0.00000,0.0,0.0,0.00000,0.0,0.00000,...,0.0,0.38378,0.0,0.0,29.50806,0.0,0.0,0.0,0.0,CRC
1,0.03662,0.24506,0.0,0.0,2.71076,0.0,0.0,0.05652,0.0,0.19494,...,0.0,1.89772,0.0,0.0,0.91117,0.0,0.0,0.0,0.0,IBD
2,0.00000,0.00000,0.0,0.0,0.05448,0.0,0.0,0.00000,0.0,0.00000,...,0.0,0.00000,0.0,0.0,0.72030,0.0,0.0,0.0,0.0,IBD
3,1.13410,0.01391,0.0,0.0,0.00000,0.0,0.0,0.00000,0.0,0.10913,...,0.0,2.58337,0.0,0.0,0.28302,0.0,0.0,0.0,0.0,CRC
4,1.93057,0.00696,0.0,0.0,1.73578,0.0,0.0,0.00072,0.0,0.00820,...,0.0,2.86593,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,CRC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105,0.00000,0.00000,0.0,0.0,0.21219,0.0,0.0,0.00919,0.0,0.00556,...,0.0,0.56393,0.0,0.0,8.86506,0.0,0.0,0.0,0.0,IBD
1106,0.00000,0.00000,0.0,0.0,1.60681,0.0,0.0,0.00000,0.0,0.00000,...,0.0,0.36014,0.0,0.0,0.00615,0.0,0.0,0.0,0.0,IBD
1107,1.75693,0.01451,0.0,0.0,0.00000,0.0,0.0,0.48329,0.0,0.00799,...,0.0,0.10567,0.0,0.0,0.45300,0.0,0.0,0.0,0.0,CRC
1108,0.00000,0.00000,0.0,0.0,11.04523,0.0,0.0,0.00000,0.0,0.00000,...,0.0,5.88908,0.0,0.0,4.27232,0.0,0.0,0.0,0.0,CRC
1109,1.32468,0.00222,0.0,0.0,0.00000,0.0,0.0,0.00000,0.0,0.00000,...,0.0,3.55053,0.0,0.0,0.77603,0.0,0.0,0.0,0.0,CRC